<!DOCTYPE html>
{%load static%}
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>Camera View</title>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
            crossorigin="anonymous"/>
    </head>
    
    <body>
        <div class="container" style="max-width: 1000px;">
            <nav class="navbar navbar-expand-lg">
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link active" aria-current="page" href="{% url 'camera_view' %}">Camera View</a>
                        <a class="nav-link" href="{% url 'recordings' %}">Recordings</a>
                        <a class="nav-link" href="{% url 'edit_account' %}">Edit Account</a>
                    </div>
                </div>
            </nav>
            <h1>Camera View</h1>
            <div class="text-center">            
                <h5>CAMERA {{user_info.camera}}</h5>
                <p>{{user_info.email}}</p>                      
                <img class="text-center" src="{% url 'video_feed' %}" alt="video feed" style="width: 100%;">            
                <div>
                    {% if user_info.alert_on %}
                    <a href="{% url 'update_alert' %}" class="btn btn-success" style="margin: 1em;">alert is on</a>
                    {% else %}
                    <a href="{% url 'update_alert' %}" class="btn btn-secondary" style="margin: 1em;">alert is off</a>
                    {% endif %}
                </div>                
            </div>
        </div>
    </body>
</html>